<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">the robot factory</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">a simple demonstration of how Azure WebJobs can be used to implement a complex workflow</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            The icons used on this demo came from were created by 
            <a class="label label-default" href="http://www.thenounproject.com/cezarylopacinski">Cezary Lopacinski</a>
            <a class="label label-default" href="http://www.thenounproject.com/Simon Child">Simon Child</a>,
            <a class="label label-default" href="http://www.thenounproject.com/cabaroc">Jean-Philippe Cabaroc</a>,
            <a class="label label-default" href="http://thenounproject.com/claxxmoldii/">jon trillana</a>, and 
            <a class="label label-default" href="http://thenounproject.com/drellis11/">Drew Ellis</a> and distributed at <a class="label label-default" href="http://www.thenounproject.com">The Noun Project</a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
